@tailwind base;
@tailwind components;
@tailwind utilities;




.main-label{
    margin-top: 50px;
    margin-left: 20px;
}

.side-nav-names{
    margin-top: 50px;
}

.inline-outer{
    width: auto;
    height: 200px;
    background-color: aqua;
    flex: 0.3;
    margin: 10px;
    border-radius: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .complete-button {
        width: 100%;  
      
        
    }
}


.filter-button-outer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    

}

.button-outer{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}



    .filter-outer {
        flex: 0.8;
        width: 80%;
        display: flex;
        gap: 10px; 
        align-items: center;
    }
    


.category-filter-outer{
    
    width: 100%;
}


.sorting-outer{
    display: flex;
    justify-content: space-between;
}

.filter-double-outer{
    flex: 0.6;
    display: flex;
    gap: 4px;
}
.category-filter-outer{
    flex: 0.3;
}

.priority-filter-outer{
    flex: 0.3;
    
}

.search-filter-outer{
    flex: 0.4;
    display: flex;
    gap: 4px;
    
}



.date-filter-butttons-outer{
    width: 50%;
    display: flex;
    gap: 0;
    border-radius: 40px;
    border: 1px solid grey;
    margin-top: 30px;
}


@media (max-width: 1280px) and (min-width: 1020px) {
    .main-card-outer {
        max-width: 48rem;
    }
}


@media (max-width: 960px){

    .sorting-outer{
        display: block;
        
    }

    .filter-double-outer{
        justify-content: center;
    }

   
    
    .search-filter-outer{
        margin-top: 8px;
        
    }
    
}




.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


@media (max-width: 480px) {
   

    .buttonn-outer{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        display: flex;
    }

    
    .edit-button{
        
        justify-content: center;
        align-items: center;
        
    }

    .delete-button{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .add-button{
        font-size: 10px;
    }

    .task-filter-today{
        font-size: 12px;
    }

    
    
}


@media (max-width: 380px) {
    
     
    .filter-button-outer{
        flex-direction: column;
    }

    .filter-double-outer{
        flex-direction: column;
    }

    
    
}




.button-section-outer{
    width: 100;
    display: flex;
    align-items: center;
    
}


.buttonn-outer{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

}

.delete-button{
    padding: 10px;
}

.edit-button{
    padding: 10px
}

.radio-outer{
    flex: 0.5;
    display: flex;
    justify-content: flex-end;

}

.radio-label{
    display: flex;
    justify-content: flex-end;
}





.card-title-section{
    display: flex;
    justify-content: space-between  ;
}
